
.blauw{
    color: #0000FF;
    font-size: 30px;
    font-family: Georgia;

}

.geel{

    color: #fff703;
    font-size: 40px;
    font-family: Courier;
    
}

.rood{

    color: #ff0000;
    font-size: 10px;
    font-family: Lucida Sans;
    
}

.paars{

    color: #6a00ff;
    font-size: 15px;
    font-family: sans-serif;
    
}

.groen{

    color: #03aa03;
    font-size: 50px;
    font-family: Comic Sans MS;
    
}